<div class="container">
    <h1 class="mb-3">Đăng Ký Khóa Học</h1>
    <form method="post" action="/courses/createPOST">
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="formGroupExampleInput" class="form-label">Name</label>
            <input type="text" class="form-control"name="name" id="name" placeholder="Enter Name of course...">
        </div>
        <div class="col-md-12 mb-3">
            <label for="formGroupExampleInput2" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Enter Description...">
        </div>
        
          <div class="col-md-12 mb-3">
            <label for="formGroupExampleInput2" class="form-label">VideoID</label>
            <input type="text" class="form-control" name="videoID" id="videoID" placeholder="Enter videoID...">
        </div>
        <div class="col-md-12 mb-3" style="justify-content:center;align-items:center;display:flex;">
             <button class="btn btn-primary" type="submit" style="width: 50%;">Create New</button>
        </div>
        
       
    </div>
   
</form>
</div>
