<div class="container">
    <div class="mt-4">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary">Hoc Ngay</button>
            </div>
            <div class="col-md-9" style="display: flex;flex-direction:column;justify-content:center;align-items:center">
                <h2>{{course.name}}</h2>
             
                    <iframe width="560" class="card-img-top" height="400" src="https://www.youtube.com/embed/{{course.videoID}}?si=ezSQtQIY4q3OnfwU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <p>{{course.description}}</p>
            </div>
        </div>
    </div>
</div>
